#pa {
  margin: auto;
  border-radius: 40px;
}

.choiceBG {
  background-color: beige;
  width: 400px;
  height: 50px;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.choiceBG:hover {
  background-color: bisque;
}

.homePage {
  background-color: aquamarine;
  height: 300px;
  padding-top: 70px;
}

.container {
  margin-top: 40px !important;
}
 

#result {
  padding-top: 20px;
}

#submitButton {
  border-radius: 40px;
  
}

#submitButton:hover {
  background-color: darkgray;
}
